<h3><%= link_to "Home Page", homes_path	%></h3>
<h1>All Orders</h1>
<%= form_tag charges_path do %>
  <article>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  </article>
  <% end %>
  <% @orders.each do |order| %><br>
    Total ordered items = <%= order.order_items.count%><br>
    Total amount = <%= order.total %><br>
    Status = <%= order.status %><br>
    Ordered date = <%= order.created_at.to_date %><br>
    <%= link_to "More Details", fetch_order_items_order_items_path(order_id: order.id)%><br>
  <% end %><br>
<% end %>