<%= form_tag attempt_answer_feedback_answers_path , method: :get  do%>

  <h2>Give rate to this product</h2>
    1<%= radio_button_tag "rating", 1, false %><br>
    2<%= radio_button_tag "rating", 2, false %><br>
    3<%= radio_button_tag "rating", 3, false %><br>
    4<%= radio_button_tag "rating", 4, false %><br>
    5<%= radio_button_tag "rating", 5, false %><br>
    <%= hidden_field_tag :product_id, value: @product.id %>
    <div>
      Add comment:
      <%= text_field_tag :comment %>
    </div>
      <%= submit_tag "next" %>
    <%= hidden_field_tag :order_id, value: @order.id%>
  <% end %><br>